.sidebar {
  width: 20em;
  margin-top: 1em;
  margin-right: 2.5em;
}

.data {
  padding: 1.25rem;
  background-color: #{'rgb(var(--color-bg-secondary))'};
  border-radius: 0.25em;
  margin-bottom: 1em;
}
