.nav {
  display: flex;
  z-index: 2;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--margin-container);
  background-color: #{'rgba(var(--color-bg-primary), 0.8)'};

  // Nav Logo
  &__logo {
    svg {
      height: 24px;
    }
  }

  // Nav Primary
  &__primary {
    display: flex;
  }

  &__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;

    a {
      padding: 24px 24px;
      color: #{'rgb(var(--color-text-primary))'};
      font-size: 16px;
      font-weight: 400;
      border-bottom: 3px solid transparent;
    }

    &--active {
      a {
        border-bottom: 3px solid #{'rgb(var(--color-highlight-over))'};
      }
    }
  }

  // Nav Secondary
  &__searchBox {
    display: flex;
    align-items: center;
    background: #{'rgb(var(--color-highlight))'};
    border-radius: 4px;

    svg {
      margin-left: 8px;
      fill: #{'rgb(var(--color-text-primary))'};
    }

    input {
      border: 0;
      background: none;
      width: 200px;
      padding: 10px 8px;
      color: #{'rgb(var(--color-text-primary))'};

      &::placeholder {
        color: #{'rgb(var(--color-text-tertiary))'};
      }
      &:focus {
        outline: none;
      }
    }
  }
}
