.container {
  margin: 0 2rem;
}

.title {
  padding-bottom: 0.625rem;
  color: #{'rgb(var(--color-text-sub-primary))'};
  font-weight: 600;
  font-size: 0.90625rem;
  letter-spacing: 0.03125rem;
}

.content {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #{'rgb(var(--color-bg-tertiary))'};
  cursor: pointer;

  &:hover {
    .svg {
      fill: #{'rgb(var(--color-text-sub-secondary))'};
    }
  }
}

.svg {
  height: 0.55rem;
  fill: #{'rgb(var(--color-text-sub-quaternary))'};
  transition: 200ms ease-in-out;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  padding-bottom: 1rem;
  border-radius: 0.25rem;
  background-color: #{'rgb(var(--color-bg-tertiary))'};
  opacity: 1;
  transition: 100ms ease-in;
}

.item {
  display: block;
  padding: 0.75rem;
  border-radius: 0.25rem;
  color: #{'rgb(var(--color-text-sub-tertiary))'};
  font-weight: 600;
  font-size: 0.78125rem;
  letter-spacing: 0.03125rem;
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:hover {
    color: #{'rgb(var(--color-highlight-light))'};
    background-color: #{'rgb(var(--color-bg-secondary))'};
  }
}

.text {
  color: #{'rgb(var(--color-text-sub-quaternary))'};
  font-weight: 500;
  font-size: 0.825rem;
  letter-spacing: 0.03125rem;
  padding: 0.2rem 0.5rem;

  &--single {
    color: #{'rgb(var(--color-highlight-light))'};
  }

  &--multi {
    background-color: #{'rgb(var(--color-bg-quaternary))'};
    border-radius: 0.25rem;
    color: #{'rgb(var(--color-text-sub-primary))'};
  }

  &__wrapper {
    display: flex;
  }

  & + & {
    margin-left: 0.175rem;
  }
}

.hidden {
  visibility: hidden;
  transform: translateY(-0.5rem);
  opacity: 0;
}
