.container {
  display: flex;
}

.svg {
  height: 1.325rem;
  transition: 100ms ease-in;
  cursor: pointer;
  fill: #{'rgb(var(--color-highlight-light))'};
  opacity: 0.8;

  &--inactive {
    fill: #{'rgb(var(--color-bg-quaternary))'};

    &:hover {
      fill: #{'rgb(var(--color-highlight-light))'};
      opacity: 0.6;
    }
  }

  & + & {
    margin-left: 0.25rem;
  }
}
