.container {
  position: relative;
  margin-bottom: 2rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.625rem;
}

.title {
  color: #{'rgb(var(--color-text-sub-primary))'};
  font-weight: 600;
  font-size: 0.90625rem;
  letter-spacing: 0.03125rem;
}

.years {
  display: flex;
  align-items: center;
  pointer-events: none;

  color: #{'rgb(var(--color-text-sub-tertiary))'};
  background-color: #{'rgb(var(--color-bg-tertiary))'};
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.03125rem;
  opacity: 0;
  cursor: pointer;
  &:hover {
    .svg {
      fill: #{'rgb(var(--color-text-sub-primary))'};
    }
  }
}

.svg {
  transition: 100ms ease-in;
  width: 0.5rem;
  height: 0.5rem;
  fill: #{'rgb(var(--color-text-sub-tertiary))'};
}

.range {
  position: relative;
  display: flex;
  align-items: center;
  height: 1rem;

  &__rail {
    position: absolute;
    width: 100%;
    background-color: #{'rgb(var(--color-bg-primary))'};
    box-shadow: inset 0 0 0.5rem #{'rgb(var(--color-shadow-dark), 0.5)'};
    height: 0.625rem;
    border-radius: 0.25rem;
  }

  &__track {
    position: absolute;
    background-color: rgb(74, 165, 195);
    height: 0.625rem;
    border-radius: 0.25rem;
  }

  &__handle {
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: e-resize;

    &__tooltip {
      pointer-events: none;
      position: absolute;
      bottom: 100%;
      margin-bottom: 0.25rem;
      padding: 0.45rem 0.75rem;
      border-radius: 0.25rem;
      color: #{'rgb(var(--color-text-sub-secondary))'};
      font-weight: 500;
      font-size: 0.825rem;
      background-color: #{'rgb(var(--color-bg-tertiary))'};
      box-shadow: 0 0 0.5rem #{'rgba(var(--color-shadow-dark), 0.2)'};
      opacity: 0;
      transition: 100ms ease-in;
    }

    &__circle {
      background-color: rgb(74, 165, 195);
      box-shadow: 0 0 0.5rem #{'rgb(var(--color-shadow-dark), 0.5)'};
      width: 1rem;
      height: 1rem;
      border-radius: 0.25rem;
    }

    &--left {
      left: 0;
      padding-left: 0.5rem;
      margin-left: -0.5rem;
      &:hover {
        .range__handle__tooltip {
          opacity: 1;
        }
      }
    }

    &--right {
      right: calc(100% - 1rem);
      padding-right: 0.5rem;
      margin-right: -0.5rem;

      &:hover {
        .range__handle__tooltip {
          opacity: 1;
        }
      }
    }
  }
}

.vissible {
  opacity: 1;
  z-index: 2;
}

.vissible--years {
  pointer-events: visible;
  opacity: 1;
}
