.container {
  margin-left: 1rem;
  background-color: #{'rgb(var(--color-bg-secondary))'};
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  grid-column-end: -1;
  display: flex;
  align-items: center;
}

.break {
  height: 1.5rem;
  width: 0.125rem;
  border-radius: 1rem;
  background-color: #{'rgb(var(--color-bg-tertiary))'};
  margin-right: 0.75rem;
}
