.banner {
  position: relative;
  background-color: #{'rgb(var(--color-bg-secondary))'};

  &__image {
    display: block;
    width: 100%;
    height: 16vw;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(var(--color-shadow-dark), 0) 40%, rgba(var(--color-shadow-dark), 0.6));
  }

  &__content {
    margin: 0 16%;
    padding: 3em 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    gap: 0px 0px;
    grid-template-areas:
      'img title'
      'img description';
  }

  &__coverImage {
    grid-area: img;
    flex-shrink: 0;
    width: 20em;
    border-radius: 0.25em;
    overflow: hidden;
    box-shadow: 0 0 1.125em var(--color-shadow-dark);
    aspect-ratio: 37/53;
    object-fit: cover;
    margin-right: 2.5em;
    box-shadow: 0 0 2em rgba($color: #000, $alpha: 0.5);
  }

  &__title {
    grid-area: title;
    padding-bottom: 1em;
  }

  &__description {
    grid-area: description;
    display: inline;
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

.stats {
  display: flex;
  margin-top: 4.5em;

  &__stat {
    box-shadow: 0 0 1em rgba($color: #000, $alpha: 0.35);
    display: flex;
    flex-direction: column;
    padding: 1.25em 2em;
    border-radius: 0.25em;

    & + & {
      margin-left: 1em;
    }
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 500;
    color: #dfdfdf;
    margin-bottom: 0.5em;
  }

  &__rank {
    font-size: 1.25rem;
    font-weight: 400;
    color: #c7c7c7;
    letter-spacing: 0.1rem;
  }
}
