.shared {
  &__carousel {
    &__viewMore {
      & span {
        display: inline-block;
        opacity: 0;
        padding-left: 0.5em;
        font-weight: 500;
        font-size: 1rem;
        transform: translateX(-1em);
      }

      &:hover,
      &:focus-within {
        & span {
          opacity: 1;
          transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
          transform: translateX(0);
        }
      }
    }

    &__buttons {
      display: flex;
      margin-top: 0.25rem;
    }

    &__button {
      width: 0.7em;
      height: 0.7em;
      border-radius: 100%;
      cursor: pointer;
      background-color: var(--color-bg-secondary);

      & + & {
        margin-left: 0.25em;
      }

      &--active {
        background-color: var(--color-highlight);
      }
    }
  }
}
