.carousel {
  margin-bottom: 1em;
  padding: var(--margin-container);

  &__container {
    margin-bottom: 4em;
    overflow: hidden;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &__title {
      margin-bottom: 0.5em;
      color: var(--color-text-secondary);
      font-weight: 600;
      font-size: 2rem;
    }
  }

  &__buttons {
    display: none;
    margin-top: auto;
    margin-bottom: 0.5em;
    pointer-events: none;
  }

  &__body {
    position: relative;
  }

  &__items {
    display: flex;
    transform: translateX(-100%);

    &__container {
      display: block;
    }
  }

  &__prev,
  &__next {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    width: calc(var(--width-offset) + 0.05%);
    // subtract height of AnimeCardTitle and bottom img margin
    height: calc(100% - 2.625em - 0.5em);
    cursor: pointer;
    background-color: var(--color-bg-primary-60);

    & > svg {
      transition: transform 100ms ease-in;
      fill: none;
    }

    &:hover,
    &:focus {
      background-color: var(--color-bg-primary-80);

      > svg {
        transform: scale(1.5);
      }
    }
  }

  &__prev {
    right: calc(100% + 0.2rem);
  }

  &__next {
    left: calc(100% + 0.2rem);
  }

  &:hover,
  &:focus-within {
    .carousel__buttons {
      display: flex;
    }

    .carousel__prev,
    .carousel__next {
      > svg {
        fill: var(--color-text-tertiary);
      }
    }
  }

  &__freeze {
    pointer-events: none;
  }
}

.slide {
  &__enter {
    display: none;
  }

  &__exit__active {
    &--right,
    &--left {
      transition: transform 1000ms ease-in-out;
    }
    &--right {
      transform: translate(-200%);
    }

    &--left {
      transform: translate(0%);
    }
  }
}
