.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--margin-container);
  background-color: rgba($color: #0c0c0c, $alpha: 0.7);

  // Nav Logo
  &__logo {
    svg {
      height: 24px;
    }
  }

  // Nav Primary
  &__primary {
    display: flex;
  }

  &__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;

    a {
      padding: 24px 24px;
      color: var(--color-text-primary);
      font-size: 16px;
      font-weight: 500;
      border-bottom: 3px solid transparent;
    }

    &--active {
      a {
        border-bottom: 3px solid var(--color-highlight);
      }
    }
  }

  // Nav Secondary
  &__searchBox {
    display: flex;
    align-items: center;
    background: var(--color-highlight);
    border-radius: 4px;

    svg {
      margin-left: 8px;
      fill: #fff;
    }

    input {
      border: 0;
      background: none;
      width: 200px;
      padding: 10px 8px;
      color: #fff;

      &::placeholder {
        color: #fff;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
