.banner {
  position: relative;

  &__container {
    margin: 0 auto;
    margin-bottom: 2.5em;
  }

  &__bg {
    position: inherit;

    &__img {
      display: block;
      width: 100%;
      height: 28vw;
      object-fit: cover;
    }

    &__overlay {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--color-bg-primary);
      background: radial-gradient(farthest-corner at bottom left, var(--color-bg-primary) 0%, var(--color-bg-primary-80) 35%, var(--color-bg-primary-00) 100%);

      &::after {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1vw;
        content: '';
        background: var(--color-bg-primary);
        background: linear-gradient(to bottom, var(--color-bg-primary-00) 0%, var(--color-bg-primary) 100%);
      }
    }
  }

  &__content {
    position: absolute;
    bottom: 4rem;
    margin: var(--margin-container);

    &__heading {
      color: var(--color-text-secondary);
      font-weight: 700;
      font-size: 1.5rem;
      letter-spacing: 0.125rem;
    }

    &__title {
      display: -webkit-box;
      width: 30ch;
      margin-bottom: 1rem;
      overflow: hidden;
      color: var(--color-text-primary);
      font-weight: 900;
      font-size: 3.25rem;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }

    &__description {
      display: -moz-box;
      display: -webkit-box;
      max-width: 60ch;
      margin-bottom: 2.5rem;
      overflow: hidden;
      color: var(--color-text-tertiary);
      font-weight: 500;
      font-size: 1.325rem;
      line-height: 1.75rem;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    &__view {
      padding: 0.5rem 1.5rem;
      border-radius: 0.25rem;
      color: var(--color-text-primary);
      font-weight: 500;
      font-size: 1.125rem;
      letter-spacing: 0.0325rem;
      background-color: var(--color-highlight);
      transition: background-color 100ms ease-in-out;

      &:hover,
      &:focus-within {
        background-color: var(--color-highlight-over);
      }
    }
  }

  &__buttons {
    margin: var(--margin-container);
  }
}
