.cardAnime {
  display: grid;
  position: relative;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.25, 0.98, 0.51, 1.19);
  grid-template-rows: min-content auto;
  margin: 0 0.25rem;

  @for $i from 1 through 10 {
    &__items--#{$i} {
      width: calc(100% / #{$i});
    }
  }

  &__container {
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__img {
    position: inherit;
    width: 100%;
    border-radius: 0.25em;
    overflow: hidden;
    box-shadow: 0 0 1.125em var(--color-shadow-dark);
    aspect-ratio: 37/53;
    object-fit: cover;
  }

  &__title {
    display: -webkit-box;
    height: 2.625em;
    margin-top: 0.5em;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &--hidden {
    display: none;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}
